@page "/about"

<h1>About this website</h1>

<p>
    This website uses a basic machine learning model to predict the probability of results and over/under 
    2.5 goals for matches in major European leagues.
</p>
<p>
    Data for previous matches has been taken from <a href="http://football-data.co.uk/" target="_blank">football-data.co.uk</a> 
    The prediction model uses goals, shots and shots on target from each team's previous matches separated by home and away form.
    It also utilises time regression. This means that statistics from more recent matches carry more weight than earlier matches.
</p>
<p>
    In the future I hope to develop more accurate predictions based on more sophisticated statistics and machine learning 
    techniques.
</p>

<h1>About me</h1>
<p>
    I'm a self-taught developer with knowledge of C#, dotnet, Python, MySQL, Blazor, Azure and more
</p>
<p>Simon Horton</p>
<p><a href="https://www.linkedin.com/in/simon-horton-45383619b/" target="_blank">Linked In profile</a></p>
<p><a href="https://github.com/s1m0nmwcp2099/portfolio" target="_blank">Github portfolio</a></p>