@page "/epl"

@code {
    (string, string)[] fixtures = new (string, string)[]{ ("Arsenal", "Chelsea"), ("Man Utd", "Man City"), ("Wolves", "Aston Villa") };
}

<h1>English Premier League</h1>
<body>
    @for (int i = 0; i < fixtures.Length; i++){
        
        string url = "https://duckduckgo.com/?t=ffsb&q=" + fixtures[i].Item1 + "+" + fixtures[i].Item2 + "&atb=v239-1&ia=web";
        
        <p><a href=@url target="_blank">@fixtures[i].Item1 v @fixtures[i].Item2</a></p>
    }
</body>